* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f9ff;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: rgba(0,119,182,0.9);
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}








header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: rgba(0,119,182,0.9);
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.services {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    text-align: center;
}

.service-item {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.service-item h2 {
    color: #0077b6;
    margin: 15px 0 10px;
}
/* CSS Document */

