* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f9ff;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: rgba(0,119,182,0.9);
    color: white;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
	background-image:url(../imgaes/Radisson-Blue-Camranh.jpg);
	background-repeat:repeat;
	background-size:cover;
	height:100vh
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    color: #0077cc;
    margin-bottom: 20px;
}

.intro {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

.info {
    line-height: 1.8;
    font-size: 16px;
}

.info i {
    color: #0077cc;
    margin-right: 10px;
}

.social {
    margin-top: 30px;
    text-align: center;
}

.social h3 {
    margin-bottom: 15px;
}

.social a {
    display: inline-block;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 22px;
    transition: 0.3s;
}

.social a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.facebook {
    background: #1877f2;
}

.tiktok {
    background: #000000;
}

.youtube {
    background: #ff0000;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #666;
}
